{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Equipes</h1>

        <table class="table">
                <tbody>
                <tr>
                                
                                <th>Id</th>
                                  <th>Nom</th>
                                   <th>Projet</th>
                                   <th>Gérant</th>
                                  
                                      </tr> 
                        
                {% for equipe in equipes  %}
                         
               
                <tr>                 
                                
                                <td>{{ equipe.id }}</td>
                                <td>{{ equipe.nom }}</td>
                                <td>{{ equipe.projet.titre }}</td>
                                <td>{{ equipe.gerant.prenom }}</td>
                                 
                        
       
                                {% if u in equipe.getMembre()  %} 
                                                         <td> <a class="btn btn-primary" href="{{ path('Liste_Repertoires', {id: equipe.id}) }}">Liste Repertoires</a></td>
                                <td> <a class="btn btn-primary" href="{{ path('Liste_Users', {id: equipe.id}) }}">Liste Utilisateurs</a></td>
                                
                                 {% endif %}  
                               
                               
                </tr>
                         
                               
                        
                        {% endfor %}

                </tbody>
        </table>

        

        

       
{% endblock %}
